<div>
    <img id="nav_logo" src="/images/battlehawks.png" alt="Logo">
</div>
<nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <a href="/profile">Profile</a> |
    <a class="no-button" id="logout">Logout</a>
        {{!-- <a href="/profile">Profile</a>
        <a href="/logout">Logout</a> --}}
    {{else}}
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
    {{/if}}
</nav>