<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailgate Planner</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header>
        <!-- Navigation links, logos, etc. -->
        {{> header}}
    </header>

    <!-- Content from other Handlebars views will be inserted here -->
    {{{ body }}}

    <footer>
        <!-- Footer information -->
        {{> footer}}
    </footer>

    <!-- JS -->
    <script src="/main.js"></script>
</body>

</html>

