<h1>Sign Up</h1>
<form class="signup-form">
  <label for="username">Username</label>
  <input type="text" id="username" name="username">
  <label for="username">Email</label>
  <input type="text" id="email" name="email">
  <label for="password">Password</label>
  <input type="password" id="password" name="password">
  <input type="submit" value="Sign Up">
</form>

<script src="/js/signup.js"></script>