header {
  background-color: rgb(0, 38, 119);
  color: #fff;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav_logo {
  height: 60px;
  margin-right: 10px;
}

nav {
  display: flex;
  align-items: center;
}

#logo {
  width: 100px;
}

nav a {
  margin-right: 10px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: #888;
}

nav a:hover {
  cursor: pointer;
}

#view-selector button {
    margin: 0 10px;
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    margin: 20px 0;
}

.game-list {
  list-style-type: none;
  padding: 0;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.away {
  display: flex;
  background-color: gray;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.game-list a {
  color: black;
  text-decoration: none;
}

.game-details {
  display: flex;
  gap: 10px;
}

.at-sign {
  margin-top: 15px;
}

.tailgate-attending {
  color:#444;
}

.team-logo {
  width: 50px;
}

.attendees-list {
  list-style-type: none;
  padding: 0;
}

.attendees-list li {
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}


h2{
  text-align:center;
  padding: 20px;
}
/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}